.container{
    display: grid;
    grid-template-columns: 2fr 1fr; /* or */
    grid-template-columns: repeat(4,1fr);
    background-color:#354351;
    padding:10px;
    height: 620px;
   
}
.items{
 background-color: cornsilk;
 text-align: center;
margin:5px;
height: 300px;
width: 360px;
 
}

img{
    margin-top: 15PX;
    height:250px;
    width:320px;
    
}

h4{
    margin:0px;
}
