.static{
    position: static;
   left: 1050px;
    top: 1050px;

}

.relative1{
    position: relative;
    background-color: blueviolet;
   left: 50px;
    top: 50px;
    z-index: 2;
}


.relative2{
    position: relative;
    background-color: grey;
     z-index: 1;
}

.div_pos1{
    position: static;
    height: 100px;
    width: 100px;
    background-color: cadetblue;
}
.div_pos2{
    position: static;
    margin:100px;
    border: 4px solid navy;
    height: 500px;
    width: 1000px;
   
}

.div_pos3{
    position: relative;
    margin:100px;
    border: 4px solid navy;
    height: 500px;
    width: 1000px;
   
}

.absolute{
    position:absolute;
    left:50px;
    right:50px;
}
.absolute1{
    position:absolute;
    left:150px;
    top:150px;
}

.fixed{
    position:fixed;
    top:100px;
}
.sticky{
    position:sticky;
    top:100px;
}
p{
    font-size: 25px;
}