.external{
    background-color: aquamarine;
    color:darkorange;
    height: 700px;
    width: 700px;
}
#id1{
    font-family: cursive;
    font-size: xx-large;
}

*{
    background-color: dimgray;
}