.fixed-pos{
    position:fixed;
    background-color: blueviolet;
    text-align: center;
   padding: 10px;
    width: 1600px;
    margin:0px;
    margin-top: -15px;
    margin-left: -5px;
    }
.relative-pos{
    position: relative;
    margin-top: 10px;
}
.box{
    padding:100px;
    background-color: orange;
    border: solid 50px moccasin;
    margin: 50px;
}
